<div class="row">
    <div class="col-6 offset-3">
        <div class="card mb-3">
            <img src="<%= listing.image %> " class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">
                    <%= listing.name %>
                </h5>
                <p class="card-text">
                    <%= listing.description %>
                </p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item text-muted">
                    <%= listing.location %>
                </li>
                <li class="list-group-item">
                    ₱<%= listing.price.toLocaleString() %>/night
                </li>
            </ul>
            <div id="map" style="width: 544px; height: 300px;">
                <!--  <iframe width="544" height="300" frameborder="0" style="border:0" referrerpolicy="no-referrer-when-downgrade" src="https://www.google.com/maps/embed/v1/view?key=AIzaSyBmIwbHivFRB9G8bnd9tuFCKWWeFNg6VWc&center=<%=listing.lat%>,<%=listing.lng %>&zoom=18&maptype=satellite" frameborder="0"></iframe> -->
            </div>
            <input id="hori" type="hidden" value="<%= listing.lat %>">
            <input id="vert" type="hidden" value="<%= listing.lng %> ">
            <script>
                let lat = document.getElementById('hori').value
                let lng = document.getElementById('vert').value
                let map = L.map('map', {
                    center: [lat, lng],
                    zoom: 10
                })
                let layer = new L.TileLayer('http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png');
                map.addLayer(layer);

                let marker = L.marker([lat, lng]).addTo(map);
            </script>
            <div class="card">
                <form action="/listings/<%= listing._id %>?_method=PATCH" method="post">
                    <div class="card-header">
                        ⭐<%= (listing.review.map((item)=> item.rating).reduce((x, y) => x + y, 0) /
                            listing.review.length).toFixed(2) %>

                    </div>
                    <div class="card-body">
                        <div class="w-25">
                            <input type="number" class="form-control" name="rating" id="rating" min="0" max="5"
                                placeholder="0.0">
                        </div>
                        <div class="p-2">
                            <textarea name="comment" id="comment" cols="60" rows="10">

                            </textarea>
                        </div>
                        <div class="p-2">
                            <button class="btn btn-success">Add Review</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="card">
                <% for( let item of listing.review) { %>
                    <div class="card-body">
                        ⭐<%= item.rating %>
                            <br>
                            <%= item.comment %>
                    </div>
                    <% } %>

            </div>
            <div class="card">
                <div class="card-body">
                    <form action="/listings/<%= listing._id %>?_method=DELETE" method="post">
                        <a href="/listings" class="btn btn-primary ">Show all</a>
                        <a href="/listings/<%= listing._id %>/edit" class="btn btn-success"> edit </a>
                        &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
                        <button class="btn btn-danger">Delete</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>